@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5em;
      column-count: 1;
    }
    .masonry-sm {
      column-gap: 1.5em;
      column-count: 2;
    }
    .masonry-md {
      column-gap: 1.5em;
      column-count: 3;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

@layer components {
  .product-card-price {
    @apply text-product-card-text text-[24px] leading-[28.13px] xl:text-[32px] xl:leading-[37.5px] lg:text-[32px] font-medium lg:leading-[38px];
  }

  .button-gradient {
    @apply bg-gradient-to-br from-[#F01B74] to-[#FF6064] hover:from-[#FA6989] hover:to-[#FA6989];
  }

  .truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.swiper-custom .swiper-wrapper {
  gap: 16px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper .swiper-slide {
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .swiper-custom .swiper-wrapper {
    gap: 20px;
    height: 100% !important;
  }
}

.gradient-text {
  background-image: linear-gradient(90deg, #f01b74, #ff6064);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@font-face {
  font-family: "Roboto-Thin";
  src: local("Roboto-Thin"), url(./fonts/Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"), url(./fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url(./fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"), url(./fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url(./fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Black";
  src: local("Roboto-Black"), url(./fonts/Roboto-Black.ttf) format("truetype");
}

* {
  &:focus {
    outline: none;
  }
}

div * {
  box-sizing: border-box;
}
a {
  all: unset;
}
p {
  margin: 0;
  padding: 0;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
  width: 10px;
  height: 10px;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: red;
}

span.swiper-pagination-bullet {
  background-color: red;
}

body {
  height: 100vh;
  overflow: auto;
  background-color: rgba(238, 238, 238, 1);
  color: white;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modernWay {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
